body {
  background-color: #A4B6D6;
  color: #28442C;
  padding-top: 45px;
}

@media (max-width: 992px) {
  body {
    padding-top: 75px;
    padding-left: 0px;
  }
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
.main {
  margin-left: 600px;
  padding: 1px 16px;
  height: 1000px;
}

.navbar {
  background-color: #EFC9DF;
}
@media (min-width: 992px) {
	#sideNav {
    background-color: #EFC9DF;
		text-align: center;
		position: fixed;
		top: 0;
		left: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		width: 17rem;
		height: 100vh;
	}
	#sideNav .navbar-brand {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin: auto auto 0;
		padding: 0.5rem;
	}
	#sideNav .navbar-brand .img-profile {
		max-width: 10rem;
		max-height: 10rem;
	}
	#sideNav .navbar-collapse {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		-webkit-box-flex: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		width: 100%;
    margin-bottom: auto;
	}
	#sideNav .navbar-collapse .navbar-nav {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
    width: 100%;
    background-color: #EFC9DF;
	}
	#sideNav .navbar-collapse .navbar-nav .nav-item {
		display: block;
	}
	#sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
		display: block;
	}
}

#sideNav a {
  display: block;
  color: #41BFB2;
  padding: 16px;
  font-weight: bold;
  text-decoration: none;
}

/* Links on mouse-over */
#sideNav a:hover:not(.active) {
  color: white;
}


